body  {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: linen;
    
}

#left {
    color: rgb(240, 13, 176);
    font-family: san-serif;
    font-size: 0.9cm;
    /*background-color: rgb(235, 235, 235);*/
    margin: 1px;
    border-radius: 25px;
    background: rgb(210, 175, 175);
    padding:20px;
    width:50;
    height:50;
    text-align: left;
    display: flex;
    flex-direction: row;

}

.right {
    background: rgb(167, 185, 167);
    padding:20px;
    width:50;
    height:50;
    text-align: right;
    display: flex;
    flex-direction: row;

}

.blue {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 25px;
    background:lightsteelblue;
    padding: 20px;
    width:300px;
    height:25px;
    text-align: center;

}

a:link, a:visited {
    background-color:rgb(53, 127, 255);
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    opacity: 0.5
}

a:hover, a:active {
    background-color: rgb(53, 127, 255);
    opacity: 1
}

