body  {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: linen;
    text-align: center;
}

#grape {
    color: rgb(240, 13, 176);
    font-family: san-serif;
    font-size: 0.9cm;
    /*background-color: rgb(235, 235, 235);*/
    margin: 1px;
}

.blue {
    color: dodgerblue;
    font-family: Trebuchet Ms;
}

a:link, a:visited {
    background-color:rgb(53, 127, 255);
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    opacity: 0.5
}

a:hover, a:active {
    background-color: rgb(53, 127, 255);
    opacity: 1
}

