body {
    background-color: rgb(166, 169, 184);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 130px 20px 10px;
  }
  
  header, footer {
    background-color: #00265b;
    color: #c6c6c6;
    text-align: center;
    padding: 5px 0;
    width: 100%;
    left: 0;
    z-index: 1000;
  }
  
  header {
    top: 0;
    position: fixed;
  }
  
  footer {
    bottom: 0;
    color: #5e6a9c;
  }
  
  nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #c6c6c6;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  nav a:hover {
    background-color: #0056b3;
    color: #fff;
  }
  
  p {
    color: rgb(176, 176, 226);
    text-align: center;
    font-family: trebuchet;
    font-size: x-large;
  }
  
  .mycontainer, section {
    width: 60%;
    margin: 20px auto;
    padding: 15px;
    border: 5px solid rgb(24, 104, 144);
    background-color: #122c89;
    border-radius: 25px;
    color: black;
    text-align: center; /* Add this line */
  }
  
  section {
    background-color: rgb(54, 28, 146);
    border-color: rgb(9, 23, 58);
    font-family: 'Times New Roman', Times, serif;
    color: #9ebcef;
    font-size: x-large;
    text-align: center;
  }
  
  #container, #gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }
  
  .gallery {
    margin: 5px;
    border: 1px solid #ccc;
    width: 180px;
    text-align: center;
    transition: border-color 0.3s ease;
  }
  
  .gallery:hover {
    border-color: #1078e0;
  }
  
  .gallery img {
    width: 100%;
    height: auto;
  }
  
  .desc {
    padding: 15px;
  }
  
  @media (max-width: 768px) {
    body {
      padding-top: 120px;
    }
  
    #container, #gallery-container {
      flex-direction: column;
      align-items: center;
    }
  
    nav {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    nav a {
      margin: 5px 0;
    }
  
    .mycontainer, section {
      width: 90%;
    }
  
    .gallery {
      width: 100%;
    }
  }
  
  .charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
    gap: 20px;
  }
  
  .charts .flourish-embed {
    width: 48%;
  }
  
  @media (max-width: 768px) {
    .charts .flourish-embed {
      width: 100%;
    }
  
    section {
      width: 95%;
      font-size: 1rem;
    }
  
    nav a {
      font-size: 12px;
    }
  
    p {
      font-size: 1rem;
    }
  }